<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 注册DataSource：c3p0的连接池 -->
	<bean id="myDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.cj.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/examination?serverTimezone=UTC&amp;useUnicode=true&amp;characterEncoding=utf8&amp;characterSetResults=utf8&amp;useSSL=false&amp;verifyServerCertificate=false&amp;autoReconnct=true&amp;autoReconnectForPools=true&amp;allowMultiQueries=true&amp;allowPublicKeyRetrieval=true"></property>
		<property name="user" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	
	<!-- 生成Dao -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="mySqlSessionFactory"></property>
		<!-- 自动生成Dao接口的代理类 -->
		<property name="basePackage" value="personal.dao"></property>
	</bean>
	<bean id="mySqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="config.xml"></property>
		<property name="dataSource" ref="myDataSource"></property>
	</bean>
	
	<!-- 注册Service -->
	<bean id="studentService" class="personal.service.StudentServiceImpl">
		<property name="dao" ref="IStudentDao"></property>
	</bean>
	<bean id="questionService" class="personal.service.QuestionServiceImpl">
		<property name="questionDao" ref="IQuestionDao"></property>
	</bean>
	<bean id="paperService" class="personal.service.PaperServiceImpl">
		<property name="paperDao" ref="IPaperDao"></property>
		<property name="questionDao" ref="IQuestionDao"></property>
	</bean>
	<bean id="reportService" class="personal.service.ReportServiceImpl">
		<property name="studentDao" ref="IStudentDao"></property>
		<property name="examDao" ref="IExamDao"></property>
		<property name="reportDao" ref="IReportDao"></property>
	</bean>

</beans>